<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle btn btn-light" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Actions ...
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        {% if memo.statut == 1 %}
        {% if memo.fichier %}
        {% if memo.est_public %}
        <a class="dropdown-item" href="#">Cacher au public</a>
        {% else %}
        <a class="dropdown-item" href="#">Rendre public</a>
        {% endif %}
        {% else %}
        <a class="dropdown-item" href="#soumettre_fichier">Soumettre fichier</a>
        {% endif %}
        {% else %}
        <a class="dropdown-item" href="{% url 'memoires.modifier' id=memo.id %}">Reformuler</a>
        {% if memo.directeur %}
        <form id="valider_statut" action="{% url 'memoires.statut' id=memo.id %}" method="post">
            {% csrf_token %}
            <!-- Si le statut est différent de 1 ou si le formulaire n'a pas encore été soumis, affichez le bouton "Valider" -->
            <button class="dropdown-item" type="submit" name="valider" value="1">Valider</button>
        </form>
        {% else %}
        <a class="dropdown-item" href="#assigner_directeur">Assigner Directeur</a>
        {% endif %}
        {% endif %}
    </div>
</li>